@template(template/form)

@vars(['title' => 'Criar novo serviço'])

@reusable('form-control')
<div class="form-control">
  <div class="label">
    <label for="$id">$label</label>
    <span class="form-err @hasError('active')">@err('$name')</span>
  </div>
  <div class="input-control">
    <input type="$type" name="$name" id="$id" value="@bag('$name', 'form-create')" />
  </div>
</div>
@endreusable

@reusable('textarea')
<div class="form-control">
  <div class="label">
    <label for="$id">$label</label>
    <span class="form-err">@err('$name')</span>
  </div>
  <div class="input-control textarea">
    <textarea name="$name" id="$id" rows="7"></textarea>
  </div>
</div>
@endreusable

<section class="container">
  <h1>Criar nova ordem de serviço</h1>

  <form action="@!route('services.store')" method="POST" class="create-form" autocomplete="off">
    <h2>1. dados do cliente</h2>
    <div class="row">
      @use('form-control', [ 'id' => 'name', 'type' => 'text', 'label' => 'Nome do cliente', 'name' => 'name' ])
      @use('form-control', [ 'id' => 'phone', 'type' => 'text', 'label' => 'Telefone', 'name' => 'phone' 'data' => '$service->phone' ])
    </div>
    <div class="row">
      @use('form-control', [ 'id' => 'cpf', 'type' => 'text', 'label' => 'CPF', 'name' => 'cpf' 'data' => '$service->cpf' ])
      @use('form-control', ['id' => 'address', 'type' => 'text', 'label' => 'Endereço', 'name' => 'address' 'data' => '$service->address'])
    </div>

    <h2>2. dados do veículo</h2>
    <div class="row">
      @use('form-control', [ 'id' => 'brand', 'type' => 'text', 'label' => 'Marca', 'name' => 'brand'])
      @use('form-control', [ 'id' => 'model', 'type' => 'text', 'label' => 'Modelo', 'name' => 'model'])
    </div>
    <div class="row">
      @use('form-control', [ 'id' => 'year', 'type' => 'text', 'label' => 'Ano', 'name' => 'year'])
      @use('form-control', [ 'id' => 'color', 'type' => 'text', 'label' => 'Cor', 'name' => 'color'])
    </div>
    <div class="row">
      @use('form-control', [ 'id' => 'plate', 'type' => 'text', 'label' => 'Placa do veículo', 'name' => 'plate'])
      @use('form-control', [ 'id' => 'km', 'type' => 'text', 'label' => 'KM atual', 'name' => 'km'])
      @use('form-control', [ 'id' => 'fuel', 'type' => 'text', 'label' => 'Combustível', 'name' => 'fuel'])
    </div>
    <div>
      @use('textarea', [ 'id' => 'reported_defect', 'name' => 'reported_defect', 'label' => 'Problema informado'])
    </div>
    <div>
      @use('textarea', [ 'id' => 'problem_found', 'name' => 'problem_found', 'label' => 'Problema detectado'])
    </div>

    <div class="form-buttons">
      <button type="submit">Salvar alterações</button>
      <a href="/">Cancelar</a>
    </div>
  </form>
</section>