* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding-bottom: 2rem;
}

main.container {
    padding: 2rem;
    display: grid;
    gap: 2rem;
}

section.section-delete {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background: rgba(0, 0, 0, .7);

    display: none;
    place-items: center;
}

section.section-delete.active {
    display: grid;
}

form.delete-form.delete-form {
    background: #fff;
}

form.delete-form b {
    text-transform: capitalize;
}

form.delete-form h2 {
    border-bottom: 1px solid #ddd;
    padding: 1rem 2rem;
}

form.delete-form div.form-button {
    padding: 2rem;
}

form.delete-form p {
    font-size: 1.5rem;
    margin: 2rem;
    margin-bottom: 0;
}

form.delete-form button {
    font-size: 1.1rem;
    font-weight: bolder;
    border: 0;
    background: red;
    padding: 1rem;
    color: #fff;
}

form.delete-form a {
    margin-left: 1rem;
    background: transparent;
    color: #000;
}

header.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.header h1 {
    font-size: 2.5rem;
}

header.header a {
    background: dodgerblue;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
}

div.middle {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form.search-form {
    width: 100%;
    max-width: 500px;
    position: relative;
}

form.search-form input {
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 1.5rem;
    border: 1px solid #aaa;
    width: 100%;
    padding-left: 3rem;
    background: url('/assets/images/search.svg') 4% 50% no-repeat;
}

nav.nav {
    display: flex;
    gap: 2rem;
}

nav.nav a {
    padding: .5rem;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: #222;
}

nav.nav a:hover {
    border-bottom-color: gray;
}

nav.nav a.active {
    border-bottom-color: purple;
    font-weight: 700;
    color: #000;
}

table.table {
    border-collapse: separate;
    border-spacing: 0 1rem;
    width: 100%;
}

table.table thead tr {
    background: #f0f0f0;
    border: 1px solid #ddd;
}

table.table th {
    text-align: left;
    padding: 1rem;
}

table.table th div {
    display: flex;
    gap: .7rem;
}

table.table th div img:last-of-type {
    margin-bottom: -5px;
}

table.table tbody tr {
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    box-shadow: 0 0 2px #888;
    border-radius: 1rem;
    transition: .5s ease;
}

table.table tbody tr:hover {
    background: #eee;
}

table.table tbody tr.marked {
    background: #eee;
}

table.table tbody td {
    padding: 1rem;
}

table.table tbody td a {
    text-transform: capitalize;
}

td.problem {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}

footer.paginate {
    display: flex;
    gap: .3rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

footer.paginate a {
    text-decoration: none;
    border: 1px solid #888;
    display: inline-block;
    padding: .7rem 1rem;
    color: #888;
}

footer.paginate a.active {
    border-color: dodgerblue;
    background-color: dodgerblue;
    color: #fff;
    font-weight: bold;
}

div.boxActions {
    position: fixed;
    background: #ffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 1rem;
    border: 1px solid #ccc;
    overflow: hidden;
    display: none;
}

div.boxActions.active {
    display: grid;
}

div.boxActions a {
    padding: 1rem 2rem;
    text-decoration: none;
    color: #000;
    border-top: 1px solid #ccc;
}

div.boxActions a:hover {
    background: #f5f5f5;
}

div.search-results {
  display: none;
  position: absolute;
  right: 0;
  top: 115%;
  width: 200%;
  border-radius: .6rem;
  border: 1px solid #aaa;
  background: #fff;
}

div.search-results.active {
  display: block;
  padding: 1rem;
}

div.search-results > a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: #000;
}

div.search-results > a:hover {
  background: #ddd;
}

div.search-results > a:not(:last-of-type) {
  border-bottom: 1px solid #aaa;
}

div.search-results > a > div {
  display: grid;
  gap: .1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

div.search-results > a > div > span:nth-child(1) {
  font-weight: bold;
}


